.container
{
	position:absolute;
	top:40%;
	margin-top:-50px;
	left:50%;
	margin-left:-250px;
}

form
{
	width:500px;
	height:50px;
	border:1px solid black;
	border-radius:5px;
	clear:both;
}

input[type=text]
{
	text-align:center;
	border:none;
	height:50px;
	float:left;
	width:80%;
	font-size:14px;
}

input[type=submit]
{
	float:left;
	width:20%;
	background-color:white;
	color:white;
	height:50px;
	border:none;
	border-left:1px solid grey;
}

input[type=submit]:hover
{
	cursor:pointer;
}

.errorLabel
{
	color:red;
	font-size:16px;
	font-weight:800;
	display:none;
}

.result
{
	color:green;
	font-size:16px;
	font-weight:800;
	display:none;
}